.nav-link {
  text-decoration: none;
  color: #2c2c2c;
}

.nav-link:hover {
  text-decoration: none;
  color: #6c6c6c;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
}

.nav-button {
  display: flex;
  margin: 20px;
}

.nav-button button {
  border: none;
}

.close-button {
  position: relative;
  height: 50px;
}

.close-button svg {
  position: absolute;
  top: 0;
  right: 20px;
  cursor: pointer;
}

.react-drawer-drawer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff !important;
}